/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/open-sauce-one");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/branding-images/lilyrosen-cursor.svg"), auto !important;
  /* TODO: Change the url above to add a custom cursor. Delete the line above if you want to use the default browser cursor. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Open Sauce Two", "Figtree", sans-serif;
  --heading-typeface: "Open Sauce Two", "Figtree", sans-serif;
  --project-title-typeface: "Open Sauce Two", "Figtree", sans-serif;
  --subheading-typeface: "Courier Prime", serif;
  --background-color: #171414;
  --background-color-header: #0458c6;
  --background-color-about: #171414;
  --background-color-footer: #171414;
  --alt-background-color: #0458c6;
  --background-color-holding-page: #171414;
  --h1-color: #f5ded9;
  --h2-color: #f5ded9;
  --h3-color: #f5ded9;
  --h4-color: #f5ded9;
  --h5-color: #f5ded9;
  --h6-color: #f5ded9;
  --primary-text-color: #f5ded9;
  --accent-color: #673428;
  --hyperlink-color: #f5ded9;
  --hyperlink-alternate-color: #f5ded9;
  --hover-color: #f34113;
  --visited-color: #f5ded9;
  --project-title-color: #171414;
  --project-sidebar-background-color: #f5ded9;
  --project-sidebar-text-color: #171414;
  --text-selection-background-color: #171414;
  --project-nought-color: #94c734;
  --project-troupe-color: #ffa3c6;
  --project-wag-and-wander-color: #f5ded9;
  --project-bpm-color: #3b1d16;
  --project-unclouded-color: #0458c6;
  --project-bookish-color: #f34113;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: cover;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-color-header);
  padding: 1.5rem 2rem;
  z-index: 1000; /* Keeps it above other elements */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 13vw;
  font-family: var(--heading-typeface);
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 0.9;
  color: var(--h1-color);
}

h2 {
  font-size: 2.5rem;
  font-family: var(--heading-typeface);
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--h2-color);
}

h3 {
  font-size: 1.35rem;
  font-weight: 200;
  font-style: italic;
  font-family: var(--subheading-typeface);
  margin-bottom: 1.5rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 0.9rem;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.project-title {
  font-size: 3.725rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 2rem;
}

.graphic-designer {
  color: #ffa3c6;
}

.type-enthusiast {
  color: #94c734;
}

.problem-solver {
  color: #0458c6;
}

.line-break {
  display: block;
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:visited {
  color: var(--visited-color);
  transition: 0.5s ease-in-out;
}

a:hover {
  color: var(--hover-color);
  transition: 0.5s ease-in-out;
}

a:active {
  color: var(--hover-color);
}

a.colored-link {
  color: var(--hyperlink-alternate-color);
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a.colored-link:visited {
  color: var(--hyperlink-alternate-color);
}

a.colored-link:hover {
  color: #ffa3c6;
}

a.colored-link:active {
  color: #ffa3c6;
}

a.custom-navigation {
  margin-right: 1.5rem;
  flex-direction: column;
  font-family: var(--subheading-typeface);
  font-size: 1.35rem;
  font-weight: 200;
  font-style: italic;
  line-height: 0;
  transition: 0.5s ease-in-out;
}

a.custom-navigation:hover {
  color: #ffa3c6;
  font-size: 1.35rem;
  font-weight: 700;
  transition: 0.25s ease-in-out;
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.project-description {
  font-size: 1.225rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation-padding {
  padding: 1rem 0;
}

.logo {
  width: 25vh;
  padding-top: 0.5rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8rem;
  padding: 2rem 2rem 0 2rem;
  text-align: left;
}

.hero-icon {
  font-size: 4rem;
}

.call-to-action {
  margin-top: 8rem;
}

.call-to-action-text {
  font-family: var(--subheading-typeface);
  font-size: 1.35rem;
  font-style: italic;
  text-align: right;
  line-height: 0.85rem;
}

.call-to-action-button {
  margin: 2.5rem 0 1.75rem;
  width: 4rem;
  justify-self: end;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio {
  padding: 2rem 0;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
  background: red;
  padding: 2.5rem;
}

.work-page-image img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}

/* Project Colours */

.project-categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-nought {
  background: var(--project-nought-color);
  transition: 0.5s ease-in-out;
}

.project-nought-text {
  color: #3b1d16;
}

.project-nought-category {
  max-width: fit-content;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: #3b1d16;
  color: var(--project-nought-color);
}

.project-nought:hover {
  background: #3b1d16;
  transition: 0.5s ease-in-out;
}

.project-nought:hover .project-nought-text {
  color: var(--project-nought-color);
  transition: 1s ease-in-out;
}

.project-nought:hover .project-nought-category {
  background: var(--project-nought-color);
  color: #3b1d16;
  transition: 1s ease-in-out;
}

.project-troupe {
  background: var(--project-troupe-color);
  transition: 0.5s ease-in-out;
}

.project-troupe-text {
  color: #0458c6;
}

.project-troupe-category {
  max-width: fit-content;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: #0458c6;
  color: var(--project-troupe-color);
}

.project-troupe:hover {
  background: #0458c6;
  transition: 0.5s ease-in-out;
}

.project-troupe:hover .project-troupe-text {
  color: var(--project-troupe-color);
  transition: 1s ease-in-out;
}

.project-troupe:hover .project-troupe-category {
  background: var(--project-troupe-color);
  color: #0458c6;
  transition: 1s ease-in-out;
}

.project-wag-and-wander {
  background: var(--project-wag-and-wander-color);
  transition: 0.5s ease-in-out;
}

.project-wag-and-wander-text {
  color: #f34113;
}

.project-wag-and-wander-category {
  max-width: fit-content;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: #f34113;
  color: var(--project-wag-and-wander-color);
}

.project-wag-and-wander:hover {
  background: #f34113;
  transition: 0.5s ease-in-out;
}

.project-wag-and-wander:hover .project-wag-and-wander-text {
  color: var(--project-wag-and-wander-color);
  transition: 1s ease-in-out;
}

.project-wag-and-wander:hover .project-wag-and-wander-category {
  background: var(--project-wag-and-wander-color);
  color: #f34113;
  transition: 1s ease-in-out;
}

.project-bpm {
  background: var(--project-bpm-color);
  transition: 0.5s ease-in-out;
}

.project-bpm-text {
  color: #94c734;
}

.project-bpm-category {
  max-width: fit-content;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: #94c734;
  color: var(--project-bpm-color);
}

.project-bpm:hover {
  background: #94c734;
  transition: 0.5s ease-in-out;
}

.project-bpm:hover .project-bpm-text {
  color: var(--project-bpm-color);
  transition: 1s ease-in-out;
}

.project-bpm:hover .project-bpm-category {
  background: var(--project-bpm-color);
  color: #94c734;
  transition: 1s ease-in-out;
}

.project-unclouded {
  background: var(--project-unclouded-color);
  transition: 0.5s ease-in-out;
}

.project-unclouded-text {
  color: #ffa3c6;
}

.project-unclouded-category {
  max-width: fit-content;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: #ffa3c6;
  color: var(--project-unclouded-color);
}

.project-unclouded:hover {
  background: #ffa3c6;
  transition: 0.5s ease-in-out;
}

.project-unclouded:hover .project-unclouded-text {
  color: var(--project-unclouded-color);
  transition: 1s ease-in-out;
}

.project-unclouded:hover .project-unclouded-category {
  background: var(--project-unclouded-color);
  color: #ffa3c6;
  transition: 1s ease-in-out;
}

.project-bookish {
  background: var(--project-bookish-color);
  transition: 0.5s ease-in-out;
}

.project-bookish-text {
  color: #f5ded9;
}

.project-bookish-category {
  max-width: fit-content;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: #f5ded9;
  color: var(--project-bookish-color);
}

.project-bookish:hover {
  background: #f5ded9;
  transition: 0.5s ease-in-out;
}

.project-bookish:hover .project-bookish-text {
  color: var(--project-bookish-color);
  transition: 1s ease-in-out;
}

.project-bookish:hover .project-bookish-category {
  background: var(--project-bookish-color);
  color: #f5ded9;
  transition: 1s ease-in-out;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 6rem;
  padding: 2rem 2rem 0;
}

.about-image {
  border-radius: 1rem;
  flex-grow: 2;
}

.about-item-1,
.about-item-2 {
  padding: 2rem 0 0 0;
}

.about-headline {
  color: #94c734;
  font-size: 4rem;
  margin-bottom: 2rem;
  max-width: 80vw;
}

.about-bio {
  max-width: 80vw;
}

.about-contact-1 {
  color: #94c734;
  margin: 2.25rem 0 0.25rem;
}

.about-contact-2 {
  margin-bottom: 1rem;
}

.about-subheading-1 {
  margin: 2.5rem 0 1.5rem 0;
}

.about-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0.5rem;
}

.about-list li {
  text-indent: 0.25rem;
  line-height: 2.25;
}

.about-subheading-2 {
  margin-bottom: 0.75rem;
}

a.about-subheading-2 {
  font-size: 1.35rem;
  font-weight: 200;
  font-style: italic;
  font-family: var(--subheading-typeface);
  line-height: 1.3;
}

.about-description-1 {
  margin-bottom: 0;
  font-weight: 500;
}

.about-description-2 {
  margin-bottom: 2rem;
  opacity: 80%;
}

.about-marginless {
  margin-bottom: 0;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 7.5rem;
  padding: 2rem 2rem 0;
}

.back-button {
  width: 4rem;
}

.project-heading-wrapper {
  width: fit-content;
}

.project-headline {
  font-size: 3rem;
  margin-top: 1rem;
}

.project-subheading-1 {
  margin-bottom: 0;
}

.project-subheading-2 {
  margin: 0.5rem 0 0.75rem;
}

.project-text-marginless {
  max-width: 80vw;
  margin-bottom: 0;
}

.project-text {
  max-width: 80vw;
}

.project-page-image img {
  border-radius: 1rem;
  width: 100%;
  max-height: 850px;
}

.project-margin {
  margin-bottom: 1rem;
}

.project-team-wrapper {
  display: flex;
  flex-direction: row;
}

.project-team {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  background: var(--background-color-footer);
  padding: 2rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-headline {
  font-size: 12vw;
  margin-bottom: 1.25rem;
}

.footer-call-to-action {
  color: #ffa3c6;
  margin-bottom: 2.25rem;
}

.contact-line {
  display: flex;
}

.footer-text {
  font-size: 1rem;
  line-height: 1;
}

.footer-text-bold {
  font-size: 1rem;
  line-height: 1;
  font-weight: 900;
  color: #f34113;
  margin-right: 0.5rem;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  line-height: 1;
  text-align: right;
  margin-bottom: 1rem;
}

.divider {
  border-top: 2px solid #94c734;
  margin: 2rem 0 1.25rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-icon {
  width: 2.5rem;
  height: auto;
}

.copyright {
  font-size: 0.875rem;
  opacity: 80%;
  margin: 0.5rem 0;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

.error-page {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #0458c6;
}

.error-wrapper {
  text-align: center;
}

.error-headline {
  color: #ffa3c6;
}

.error-subheading {
  font-weight: 400;
}

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*
███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  /* TODO: Add styles here for medium devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 2rem;
  }

  .logo {
    width: 30vh;
    padding-top: 0.25rem;
  }

  .call-to-action-button {
    width: 4.5rem;
  }

  .back-button {
    width: 4.5rem;
    margin-bottom: 1rem;
  }

  .header {
    padding: 1.75rem 3rem;
  }

  .global-footer {
    padding: 3rem;
  }

  .hero-headline-wrapper {
    padding: 3rem 3rem 0 3rem;
  }

  .portfolio {
    padding: 3rem 3rem 0;
  }

  .work-page-grid-item {
    border-radius: 1rem;
  }

  .about {
    padding: 3rem 3rem 0;
  }

  .about-headline {
    font-size: 5rem;
  }

  .about-bio,
  .project-subheading-1,
  .project-subheading-2,
  .project-text,
  .project-text-marginless {
    max-width: 70vw;
  }

  .project {
    padding: 3rem 3rem 0;
  }

  .project-headline {
    font-size: 4rem;
  }

  .footer-headline {
    font-size: 10vw;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */

  h1 {
    font-size: 8.5vw;
  }

  h3 {
    font-size: 1.5rem;
  }

  a.about-subheading-2 {
    font-size: 1.5rem;
  }

  .call-to-action-text {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .header {
    padding: 2rem 4rem;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-wide {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
  }

  .footer-headline {
    font-size: 8vw;
    margin-bottom: 0;
  }

  .work-page-grid-item {
    padding: 3rem;
  }

  .about {
    grid-template-columns: 1fr 2fr;
    padding: 4rem 4rem 0;
  }

  .about-headline {
    font-size: 5.5rem;
  }

  .about-bio,
  .project-subheading-1,
  .project-subheading-2,
  .project-text,
  .project-text-marginless {
    max-width: 50vw;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    padding: 2rem 0;
  }

  .about-item-2 {
    grid-column: 2 / 3;
    padding: 2rem 0 2rem 2rem;
    border-left: 2px solid #ffa3c6;
  }

  .project {
    grid-template-columns: fit-content(100%) 1fr;
    padding: 4rem 4rem 0;
  }

  .project-heading-wrapper {
    padding: 1rem 0 1rem;
  }

  .project-item-1 {
    grid-column: 1 / -1; /* Full-width in the first row */
  }

  .project-item-2 {
    grid-column: 1 / 2; /* Start in the first column */
  }

  .project-item-3 {
    grid-column: 2 / 3; /* Start in the second column next to item 2 */
    padding: 1rem 0 1rem 2rem;
    border-left: 2px solid #94c734;
  }

  .project-item-4 {
    grid-column: 1 / -1; /* Full-width for stacked layout */
  }

  .project-margin {
    margin-bottom: 2rem;
  }

  .project-headline {
    font-size: 4.5rem;
    margin-top: 0;
  }

  .logo {
    width: 35vh;
    padding-top: 0;
  }

  .hero {
    min-height: 100vh;
  }

  .hero-headline-wrapper {
    padding: 4rem 4rem 0 4rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .hero-main-text {
    flex-grow: 1; /* This will make the main text area take up available space */
  }

  .call-to-action {
    align-self: flex-end;
    margin-left: auto; /* Pushes the .call-to-action to the right */
  }

  .call-to-action-button {
    width: 5rem;
  }

  .back-button {
    width: 5rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    grid-gap: 2rem;
  }

  .global-footer {
    padding: 4rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't overflow */
  }

  /* Padding around work grid and project page */
  .portfolio {
    padding: 4rem 4rem 0;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }

  .about {
    grid-gap: 4rem;
  }

  .about-item-2 {
    padding: 2rem 0 2rem 4rem;
  }

  .project {
    grid-gap: 4rem;
  }

  .project-item-3 {
    padding: 1rem 0 1rem 4rem;
  }

  .about-bio,
  .project-subheading-1,
  .project-subheading-2,
  .project-text,
  .project-text-marginless {
    max-width: 40vw;
  }
}

/* XX-Large devices (larger desktops, 1350px and up) */

@media (min-width: 1350px) {
  /* TODO: Add styles here for XX-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }

  .footer-headline {
    font-size: 7.5vw;
  }
}

/* XXX-Large devices (larger desktops, 1700px and up) */

@media (min-width: 1700px) {
  /* TODO: Add styles here for XXX-large devices. */

  .about-bio,
  .project-subheading-1,
  .project-subheading-2,
  .project-text,
  .project-text-marginless {
    max-width: 32vw;
  }
}
