/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/open-sauce-one");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  cursor: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Open Sauce Two", "Figtree", sans-serif;
  --heading-typeface: "Open Sauce Two", "Figtree", sans-serif;
  --project-title-typeface: "Open Sauce Two", "Figtree", sans-serif;
  --subheading-typeface: "Courier Prime", "Courier", monospace;
  --background-color: #171414;
  --primary-text-color: #f5ded9;
  --accent-color: #362a2a;
  --hyperlink-color: #ffa3c6;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cursor base */
#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 9999;
  background: url("../assets/home-images/lilyrosen-cursor.svg") no-repeat center
    center;
  background-size: contain;

  /* Smooth only scale transition (not position) */
  transition: transform 0.5s ease, background-image 0s;
  transform: translate(-50%, -50%) scale(1);
}

/* On hover, swap image + scale */
#custom-cursor.hover {
  background-image: url("../assets/home-images/lilyrosen-cursor-hover.svg");
  transform: translate(-50%, -50%) scale(1.4);
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg,
iframe {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: cover;
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 9.75vw;
  font-family: var(--heading-typeface);
  font-weight: 900;
  line-height: 1;
  color: var(--primary-text-color);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--primary-text-color);
}

h4 {
  font-size: 1.35rem;
  font-weight: 200;
  font-style: italic;
  font-family: var(--subheading-typeface);
  margin-bottom: 1.5rem;
  line-height: 1.3;
  color: var(--primary-text-color);
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
}

h6 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 1rem;
}

li {
  font-size: 1.1rem;
  line-height: 1.65;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.light-text {
  color: #f5ded9b5;
}

.project-title {
  font-size: 3.725rem;
  margin-bottom: 2rem;
}

.line-break {
  display: block;
}

.pink {
  color: #ffa3c6;
}

.orangered {
  color: #f34113;
}

.green {
  color: #94c734;
}

.blue {
  color: #0458c6;
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  transition: 0.5s ease-in-out;
}

a:visited {
  color: var(--hyperlink-color);
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.site-wrapper {
  padding: 0 1.5rem;
  box-sizing: border-box;
  max-width: 100%;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #1714149b;
  backdrop-filter: blur(4px);
  z-index: 1000;
  padding: 1.5rem 0;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.work-button {
  width: 4rem;
  transform: rotate(-6deg);
}

.about-button {
  width: 4.5rem;
  transform: rotate(4deg);
}

.work-button:hover {
  transform: rotate(-22deg);
}

.about-button:hover {
  transform: rotate(20deg);
}

.logo {
  width: 15rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  gap: 2rem;
  padding: 2rem 0 3.5rem;
}

.take-a-peek {
  width: auto;
  align-self: center;
  margin-top: 1rem;
}

.take-a-peek img {
  width: 100%;
  max-width: 12rem;
  height: auto;
  display: block;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.portfolio {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.75rem;
  list-style: none;
}

.work-item {
  aspect-ratio: 3 / 2;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #f5ded9; /* fallback */
  border-radius: 0.5rem;
  margin-bottom: 0;
}

.work-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.work-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: #171414; /* fallback */
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  display: flex;
  padding: 1rem 1.5rem;
  text-align: left;
}

.overlay-text h2 {
  margin: 0;
}

.overlay.pink-overlay {
  background: #4a2634;
}

.overlay.orangered-overlay {
  background: #3b1d16;
}

.overlay.green-overlay {
  background: #363b16;
}

.overlay.blue-overlay {
  background: #192536;
}

.work-item:hover .overlay,
.work-item:focus-within .overlay {
  opacity: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 0.6rem;
  justify-content: left;
  padding: 0;
  list-style: none;
}

.tags li {
  font-size: 0.75rem;
  line-height: 1.1;
  background: #f5ded9;
  color: #171414;
  border-radius: 10rem;
  padding: 0.6rem 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075rem;
  margin-bottom: 0;

}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0 5rem;
}

.about-top {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 1.5rem;
  gap: 2rem;
}

.about-image-wrapper {
  flex-shrink: 0;
  flex-basis: 40vw;
  max-width: 100%;
}

.about-image {
  width: 100%;
  border: 1.5px solid #0458c6;
  border-radius: 0.5rem;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.about-headline {
  font-size: 8vw;
  margin: 0.5rem 0 2.5rem;
}

.about-cta {
  margin: 1.5rem 0 1rem;
}

.about-divider {
  border-top: 1.5px solid #94c734;
  width: 100%;
  padding-bottom: 2.5rem;
}

.about-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 1rem;
}

.about-list {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.about-services-education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.about-experience-recognition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0 5rem;
}

.project-top,
.project-middle {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 1.75rem;
  gap: 2.5rem;
}

.project-bottom {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 1.75rem;
  gap: 1.75rem;
}

.project-text {
  padding: 0 1rem;
}

.project-description {
  margin-bottom: 2.5rem;
}

.project-image-wrapper {
  flex-shrink: 0;
  max-width: 100%;
}

.flex-basis {
   flex-basis: 50vw;
}

.project-image {
  width: 100%;
  border: 1.5px solid #f5ded9; /* fallback */
  border-radius: 0.5rem;
  object-fit: cover;
}

.project-image-pair {
  display: flex;
  flex-direction: column;
}

.ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

.ratio-4-5 {
  aspect-ratio: 4 / 5;
}

.pink-border {
  border: 1.5px solid #ffa3c6;
}

.orangered-border {
  border: 1.5px solid #f34113;
}

.green-border {
  border: 1.5px solid #94c734;
}

.blue-border {
  border: 1.5px solid #0458c6;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.fineprint {
  font-size: 0.9rem;
  color: #f5ded9b5;
  margin: 0;
}

.footer-socials {
  display: flex;
  gap: 0.75rem;
}

.footer-icon i {
  transform-origin: center;
}

a.footer-icon.pink {
  color: #ffa3c6;
}

a.footer-icon.orangered {
  color: #f34113;
}

a.footer-icon.blue {
  color: #0458c6;
}

a.footer-icon:hover {
  transform: rotate(10deg) scale(1.2);
}

.footer-divider {
  border-top: 1.5px solid #94c734;
  width: 100%;
  padding-bottom: 1.5rem;
}

.footer-logo {
  width: 100%;
  padding-bottom: 2rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

.error-page {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #0458c6;
}

.error-wrapper {
  text-align: center;
}

.error-headline {
  color: #ffa3c6;
}

.error-subheading {
  font-weight: 400;
}

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*
███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  /* TODO: Add styles here for medium devices. */

  h2 {
    font-size: 2.4rem;
  }
  
  .site-wrapper {
    padding: 0 3rem;
  }

  .logo {
    width: 17rem;
  }

  .header-buttons {
    gap: 0.75rem;
  }

  .work-button {
    width: 4.5rem;
  }

  .about-button {
    width: 5rem;
  }

  .overlay {
    padding: 0.75rem 1.75rem;
  }

  .about-top {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 3.25rem;
    gap: 3rem;
  }

  .about-image-wrapper {
    max-width: 550px;
  }

  .about-text {
    padding: 0;
    max-width: 650px;
  }

  .about-headline {
    font-size: 6vw;
    margin: 0 0 2.5rem;
  }

  .about-bottom {
    flex-direction: row;
    gap: 10vw;
    padding: 0;
  }

  .project-headline {
    font-size: 5vw;
  }

  .project-image-pair {
    flex-direction: row;
    gap: 1.75rem;
  }

  .project-image-pair .project-image-wrapper {
    flex: 1;
    min-width: 0; /* prevents overflow if image is too wide */
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .site-wrapper {
    padding: 0 4rem;
  }

  .header-buttons {
    gap: 1rem;
  }

  .logo {
    width: 20rem;
  }

  .hero-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0 5rem;
  }

  .hero-main-text {
    flex-grow: 1;
  }

  .take-a-peek {
    width: auto;
    flex-shrink: 0;
    align-self: flex-end;
  }

  .take-a-peek img {
    max-width: 12rem;
  }

  .about-headline {
    font-size: 5vw;
  }

  .about-bottom {
    gap: 16vw;
  }

  .project-top {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 3.5rem;
    gap: 4rem;
  }

  .project-middle {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 1.75rem;
    gap: 4rem;
  }

  .project-text {
    padding: 0;
  }

  .project-headline {
    font-size: 4vw;
  }

  .footer-details {
    padding-bottom: 1.5rem;
  }

  .footer-divider {
    padding-bottom: 2.5rem;
  }

  .footer-logo {
    padding-bottom: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */

  h1 {
    font-size: 6.75vw;
  }

  h4 {
    font-size: 1.5rem;
  }

  .hero-main-text {
    max-width: 60vw;
  }

  .about-top {
    gap: 4.5rem;
  }

  .about-bottom {
    gap: 18vw;
  }

  .project-top {
   gap: 6rem;
  }
}

/* XX-Large devices (larger desktops, 1350px and up) */

@media (min-width: 1350px) {
  /* TODO: Add styles here for XX-large devices. */

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .project-headline {
    font-size: 3.25rem;
  }
}

/* XXX-Large devices (larger desktops, 1700px and up) */

@media (min-width: 1700px) {
  /* TODO: Add styles here for XXX-large devices. */

  .project-top {
    gap: 8rem;
  }
}

@media (hover: none) and (pointer: coarse) {
  #custom-cursor {
    display: none !important;
  }
}
